In [27]:
%env METAFLOW_PROFILE=oleg2
from metaflow import Flow, Task
import pandas as pd

env: METAFLOW_PROFILE=oleg2

In [11]:
FLOW_NAME = "RayCPU"
STEP_NAME = "big_step"

In [28]:
flow = Flow(FLOW_NAME)
run = flow.latest_run

data = {"task_id": [], "created_at": [], "finished_at": []}

for step in run:
    if step.pathspec.split("/")[-1] == STEP_NAME:
        for task in step:
            data["task_id"].append(task.id)
            data["created_at"].append(task.created_at)
            data["finished_at"].append(task.finished_at)

data = pd.DataFrame(data)
data

,task_id,created_at,finished_at
0,205832-start-1145252-node-1,2023-08-16 10:51:35.239,2023-08-16 10:51:39.442
1,205832-start-1145252-node-2,2023-08-16 10:51:34.050,2023-08-16 10:51:38.467
2,205832-start-1145252-node-3,2023-08-16 10:51:32.589,2023-08-16 10:51:36.916
3,control-205832-start-1145252,2023-08-16 10:48:08.196,2023-08-16 10:50:50.662